<head><title>Download</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-jump.jpg")}
#set( $H = '#' )

Download
-------

$H$H$H Sources

To download the source codes please follow the [Development](../documentation/development.html) documentation.


$H$H$H Binaries

$H$H$H$H Java 11 vs. Java 8

Since version 1.0.0, CloudStore supports Java 11 and all its JARs contain a <code>module-java.class</code>.

CloudStore 1.0.0 should work with both Java 11 and Java 8 (actually even Java 7 should still be supported). But this was
not yet properly tested. Therefore, we currently do not (yet) automatically update from CloudStore 0.x.

If you freshly download & install CloudStore 1.x and encounter problems with Java 8 (or 7), please give version 0.x
a try. You find the newest 0.x-release on the [releases](http://cloudstore.codewizards.co/latest-stable/releases/)
page.


$H$H$H$H Client

* tar.gz (recommended)
	* [co.codewizards.cloudstore.client-${cloudstore_version}-bin.tar.gz](./co.codewizards.cloudstore.client-${cloudstore_version}-bin.tar.gz)
	* [OpenPGP signature](./co.codewizards.cloudstore.client-${cloudstore_version}-bin.tar.gz.sig)
* zip (if you really cannot open tar.gz files)
	* [co.codewizards.cloudstore.client-${cloudstore_version}-bin.zip](./co.codewizards.cloudstore.client-${cloudstore_version}-bin.zip)
	* [OpenPGP signature](./co.codewizards.cloudstore.client-${cloudstore_version}-bin.zip.sig)


$H$H$H$H Server

* tar.gz (recommended)
	* [co.codewizards.cloudstore.server-${cloudstore_version}-bin.tar.gz](./co.codewizards.cloudstore.server-${cloudstore_version}-bin.tar.gz)
	* [OpenPGP signature](./co.codewizards.cloudstore.server-${cloudstore_version}-bin.tar.gz.sig)
* zip (if you really cannot open tar.gz files)
	* [co.codewizards.cloudstore.server-${cloudstore_version}-bin.zip](./co.codewizards.cloudstore.server-${cloudstore_version}-bin.zip)
	* [OpenPGP signature](./co.codewizards.cloudstore.server-${cloudstore_version}-bin.zip.sig)

**Important:** Only stable versions are signed. It is thus normal that you get a 404 error when trying to download a signature
for a *SNAPSHOT* version. We simply do not sign snapshots. They are for testing only and should not be used productively,
anyway.


$H$H$H Verifying downloads via OpenPGP signatures

It is urgently recommended that you verify the downloaded binary files. If you don\'t, you might receive files with
undesired additional features - spying on you or otherwise abusing your computer.

To verify a file, simply download the corresponding *[OpenPGP](http://en.wikipedia.org/wiki/OpenPGP) signature* file.
Both files should be located in the same directory.

Then open a console, switch to the directory containing the downloads and verify them using these commands:

<div><pre>cd ~/Downloads
gpg co.codewizards.cloudstore.client-${cloudstore_version}-bin.tar.gz.sig
gpg co.codewizards.cloudstore.server-${cloudstore_version}-bin.tar.gz.sig</pre></div>

Of course, you need the OpenPGP *public* key which was used for signing. The CodeWizards\' keys can be found
[here on the CodeWizards web-site](http://codewizards.co/site/current/about/contact.html).

After downloading a key (e.g. [0x4AB0FBC1.asc](https://www.codewizards.co/site/current/0x4AB0FBC1.asc)), you have to
import it into your local key ring.

With *gpg*, you can do this with the following command:

<div><pre>gpg --import 0x4AB0FBC1.asc</pre></div>

If you use a different OpenPGP implementation (i.e. not *gpg*), then please consult its documentation about importing keys
and verifying signatures.
