<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="true"
	version="2.5">
	<!--
	metadata-complete="true" causes the annotations to be ignored, which speeds up the jetty startup significantly
	(from about 30 sec to 1 sec).
	-->

	<display-name>co.codewizards.cloudstore.webapp</display-name>

	<servlet>
		<servlet-name>co.codewizards.cloudstore.rest.server.CloudStoreRest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>co.codewizards.cloudstore.rest.server.CloudStoreRest</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>co.codewizards.cloudstore.rest.server.CloudStoreRest</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
