<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true" version="2.5">
  <display-name>co.codewizards.cloudstore.webapp</display-name>
  <servlet>
    <servlet-name>co.codewizards.cloudstore.webapp.CloudStoreREST</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>co.codewizards.cloudstore.webapp.CloudStoreREST</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>co.codewizards.cloudstore.webapp.CloudStoreREST</servlet-name>
    <url-pattern>/CloudStoreREST/*</url-pattern>
  </servlet-mapping>
</web-app>