<head><title>What\'s new</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-relaxed.jpg")}
#set( $H = '#' )

What\'s new?
-------

$H$H$H What\'s new in 0.9.6?

Compared to version 0.9.5, there are the following changes:

* nothing yet 


$H$H$H What\'s new in 0.9.5?

Compared to version 0.9.4, there are the following changes:

* Bugfix: Fixed a bug blocking the synchronisation, if the file name contained a '#'.
	([issue 31](https://github.com/cloudstore/cloudstore/issues/31)).

* Bugfix: Fixed a minor bug causing collisions when a file was modified locally while being uploaded (during re-down-sync).
	([issue 25](https://github.com/cloudstore/cloudstore/issues/25)).


$H$H$H What\'s new in 0.9.4?

Compared to version 0.9.3, there are the following changes:

* Bugfix: Fixed a very bad bug causing more and more collision files to be created
	([issue 29](https://github.com/cloudstore/cloudstore/issues/29)).

* Bugfix: Fixed a bug preventing CloudStore from creating repositories on Windows
	([issue 26](https://github.com/cloudstore/cloudstore/issues/26)).

* Bugfix: Fixed a bug in Derby (which happened only very rarely) by switching to the new Derby version 10.10.2.0
	(which was just released a few days ago) ([issue 10](https://github.com/cloudstore/cloudstore/issues/10)).

* Enhancement: There is now an automatic online-update ([issue 24](https://github.com/cloudstore/cloudstore/issues/24)).
	**Important:** This online-update is [enabled by default](./config.html) and will automatically update, whenever the
	command-line-program is used and a new version is available.

* Enhancement: Introduced basic symlink support. **Important:** \"Basic\" support means that syncing a symlink
	is only possible, if both file systems support them! If one file system supports symlinks, but the other
	file system does not support them, the sync fails with an exception (if there is a symlink - if there is
	none in the repository, syncing still works fine, of course)!
	([issue 21](https://github.com/cloudstore/cloudstore/issues/21)).


$H$H$H What\'s new in 0.9.3?

Compared to version 0.9.2, there are the following changes:

* Bugfix: Fixed *dropRepoConnection* sub-command ([issue 16](https://github.com/cloudstore/main/issues/16)).

* Bugfix: Fixed resource allocation leak causing the repos to stay locked ([issue 17](https://github.com/cloudstore/main/issues/17)).

* Enhancement: New inheritable configuration ([issue 19](https://github.com/cloudstore/main/issues/19)).

* Enhancement: Support multiple different file-write-stategies and switch to the default strategy *directAfterTransfer*
	([issue 19](https://github.com/cloudstore/main/issues/19)).

* Enhancement: Improve security by switching to [TLS 1.2](http://en.wikipedia.org/wiki/Secure_Sockets_Layer#Cipher) ([issue 20](https://github.com/cloudstore/main/issues/20)).


$H$H$H What\'s new in 0.9.2?

Compared to version 0.9.1, there are the following changes:

* Bugfix: File/directory names containing both curly braces - \'{\', \'}\' - and spaces caused exceptions
	([issue 14](https://github.com/cloudstore/main/issues/14)). We changed the way path elements are encoded
	to fix this issue.

* Enhancement: Improved Upstart configuration and added System IV start/stop script to run CloudStore server
	as a service (a.k.a. daemon) on GNU/Linux systems ([issue 11](https://github.com/cloudstore/main/issues/11)). 

* Enhancement: New commands for adding and dropping repository aliases ([issue 13](https://github.com/cloudstore/main/issues/13)).

* Enhancement: More [javadoc](../apidocs/index.html).

Version 0.9.2 is fully compatible with version 0.9.1. Upgrading (and even downgrading) is therefore possible
without any special care. It is, however, recommended to use the same version everywhere (on all clients
and all servers).


$H$H$H What\'s new in 0.9.1?

Compared to version 0.9.0, there are the following changes:

* Enhancement: Huge performance improvement with very large repositories (more than 100 thousand files).
	It turned out that Derby is pretty slow with a composite primary key (2 *long* fields modelling a *UUID*)
	when there are about 1 million records in a table. This happened in a test environment with many small
	redundant files (causing nearly one million *CopyModification* instances to be persisted). The *UUID*
	was thus replaced by an ordinary single field PK of type *long*.

	**Important: The new database version (2) is not compatible with the old one (1) anymore!**
	There is no automatic upgrade! Please remove the *.cloudstore-repo* directory in every repository
	manually and re-create it! We consider 0.9.* to be experimental and don\'t think that anyone
	(except for the developers) is already using it.

	So please [let us know](../../tracker), if you already require an automatic upgrade of the repositories.

* Enhancement: The new [copy/rename/move detection](https://github.com/cloudstore/main/issues/5) makes
	sure a file is not copied across the network unnecessarily.

* Enhancement: Faster sync especially when suffering high latencies due to
	[multi-threaded transfers](https://github.com/cloudstore/main/issues/9).

* Enhancement: Improved security by preventing denial of service attacks by
	[limiting pending connection requests](https://github.com/cloudstore/main/issues/8) and by
	[cleaning up expired requests](https://github.com/cloudstore/main/issues/7).

* [More enhancements and bug fixes.](https://github.com/cloudstore/main/issues?milestone=1&page=1&state=closed)
