<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cloudstore.logDir}/cloudstore.server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${cloudstore.logDir}/cloudstore.server.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

			<!-- keep 30 days -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<!-- <pattern>%date [%thread] %level %logger{10} [%file:%line] %msg%n</pattern> -->
			<pattern>%date [%thread] %level %logger{10} - %msg%n</pattern>
		</encoder>
	</appender>

<!--
	<logger name="com.lordofthejars.foo" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
-->

	<!-- BEGIN DataNucleus http://www.datanucleus.org/products/datanucleus/logging.html -->
	<logger name="DataNucleus" level="ERROR" />
	<!--
	<logger name="DataNucleus.Datastore" level="INFO" />
	<logger name="DataNucleus.Datastore.Schema" level="INFO" />
	<logger name="DataNucleus.Datastore.Native" level="ALL" />
	<logger name="DataNucleus.Query" level="INFO" />
	-->
	<!-- END DataNucleus -->

	<logger name="org.eclipse.jetty.util.ssl.SslContextFactory" level="TRACE">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- The level of the root logger is set to INFO by default. But we want to be able to change it here. -->
	<root level="INFO">
<!--
		<appender-ref ref="STDOUT" />
-->
		<appender-ref ref="FILE" />
	</root>
</configuration>